
@{
    ViewBag.Title = "BoardSelling";
}

<h2>BoardSelling</h2>

@ViewBag.Message

<h1>
    @ViewBag.Ads
</h1>

<ul>
    @foreach (var price in ViewBag.Prices)
    {
    <li class="price">@price рублей.</li>
    }
</ul>

Продавец: @ViewBag.Seller.LastName
