body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea,
label,
button,
p,
.btn-default,
.navbar .container .navbar-collapse a {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #000000;
}

textarea {
    width: 100%;
    border: 1px solid #CED4DA;
    border-radius: 5px;
}

.post-img {
    max-width: 100%;
}

label {
    font-size: 13px;
    color: #6C757D;
}

.remember-label {
    width: 50%;
}

.date-label {
    font-size: 11px;
    color: #757575;
}

.navbar .container .navbar-collapse .navbar-text,
.black-label {
    font-size: 16px;
    color: #000000;
}

.btn,
.btn-default {
    max-width: 217px;
    min-width: 151px;
    background-color: #dce4e9;
    color: #818283;
    border: 1px solid #AABACC;
}

.panel {
    width: 859px;
}

.panel > .panel-heading,
.panel > .panel-footer {
    background-color: #dce4e9;
}

.header-color {
    background-color: #c7d2d9;
}

.navbar .container .navbar-header a {
    color: #ffffff;
    font-family: 'Faster One', cursive;
    font-size: 36px;
}

.navbar-collapse li {
    border-right: 1px solid #AABACC;
}

.navbar-collapse li:last-child {
    border-right: none;
}

.navbar {
    border-bottom: none;
}

.tiny-panel {
    width: 269px;
}

.large-panel {
    width: 731px;
}

.field-validation-error {
    color: #DD3333;
}

.input-validation-error {
    border: 1px solid #DD3333;
}

.wrap {
    word-break : break-all;
    white-space: normal;
    word-wrap: break-word;
}