body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

label {
    width: 100%;
}

.panel > .panel-heading {
    background-color: #dce4e9;
}

.header-color {
    background-color : #c7d2d9;
}

.surfcolor {
    background-color: #dce4e9;
}

.post-panel {
    width : 859px;
}

.post-img {
    max-width :857px;
}

.panel-body {
    padding-left : 0;
}

.logo {
    font-family: 'Faster One', cursive;
    font-size: 36px;
}